<ion-content [fullscreen]="true">
  <div class="banner">
    <section>
      <div class="ion-text-center">
        <ion-icon name="chatbubble-ellipses"></ion-icon>
        <h1>Lorem ipsum dolor</h1>
      </div>
    </section>
  </div>
</ion-content>
<ion-card-content>
  <section>
    <ion-input [(ngModel)]="usernameEmail" type="text" placeholder="Username or email" clearInput></ion-input>
    <ion-input [(ngModel)]="password" type="password" placeholder="Password" clearInput></ion-input>
  </section>
  <section>
    <ion-button
      expand="block"
      color="light"
      shape="round"
      class="ion-margin-top"
      [disabled]="!usernameEmail || !password"
      (click)="login()"
    >
      LOG IN
    </ion-button>
    <ion-button expand="block" color="light" shape="round" class="ion-margin-top"> CREATE NEW ACCOUNT </ion-button>
  </section>
</ion-card-content>
